.vc_general.vc_cta3.vc_cta3-style-custom {
  background-color: transparent;
  border: none;
}
.vc_cta3-container .la-cta-01.vc_cta3{
  padding: 15px 15px 10px;
  h2{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  h4{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .vc_cta3-content{
    display: inline-block;
  }
  .vc_cta3-actions{
    display: inline-block;
    float: right;
    margin-top: 7px;
  }
}