.videos-loop{
  .video__item{
    .loop__item__info{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 30px;
      background: rgba(#151515, 0.8);
      z-index: 2;
    }
    .loop__item__title{
      .entry-title{
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        color: #fff;
        margin: 0;
        line-height: 1.4;
      }
    }
    .loop__item__meta{
      margin-bottom: 0;
      font-size: 12px;
    }
    .loop__item__meta--item{
      display: inline-block;
      margin-bottom: 0;
      text-transform: uppercase;
      + .loop__item__meta--item{
        &:before{
          content: ', ';
        }
      }
    }
    .loop__item__info2 {
      padding-right: 50px;
      min-height: 40px;
    }
    .btn-readmore{
      font-size: 0;
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
      &:before{
        content: '\f04b';
        font-family: FontAwesome;
        width: 58px;
        height: 58px;
        text-align: center;
        font-size: 20px;
        background: #d8242b;
        color: #fff;
        display: block;
        line-height: 58px;
        border-radius: 50%;
      }
      &:hover{
        &:before{
          background: #D80904;
        }
      }
    }
  }
  &.grid-space-default{
    .video__item{
      margin-bottom: 30px;
    }
  }
}