.single-release-content{
  .lastudio-release-buttons{
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 35px;
    .lastudio-release-button{
      display: block;
      a{
        margin-bottom: 8px;
        font-size: 0;
        -webkit-transition: all .7s cubic-bezier(0.39,.58,.57,1);
        transition: all .7s cubic-bezier(0.39,.58,.57,1);
        display: block;
        text-align: center;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        @extend %background-color-primary;
        &:hover{
          @extend %background-color-secondary;
        }
        &:before{
          display: inline-block;
          font-style: normal!important;
          font-weight: 400!important;
          font-variant: normal!important;
          text-transform: none!important;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-family: FontAwesome;
          font-size: 14px;
          margin-right: 6px;
          position: relative;
        }
      }
      .lastudio-release-itunes:before{
        content: "\f179";
      }
      .lastudio-release-amazon:before{
        content: "\f270";
      }
      .lastudio-release-buy:before{
        content: "\f07a";
      }
      .lastudio-release-google_play:before{
        font-family: "lpmicons";
        content: "\6d";
      }
    }
  }
  .release-info-container{
    .release-thumbnail{
      margin-bottom: 20px;
    }
    .entry-title{
      text-transform: uppercase;
    }
    .release-meta-container{
       strong{
         @extend %text-color-secondary;
       }
    }
  }
}

@media (min-width: 800px) {
  .single-release-content .lastudio-release-buttons{
    display: table;
    .lastudio-release-button{
      display: table-cell;
      vertical-align: middle;
      padding-right: 8px;
      &:last-child,
      &:only-child{
        padding-right: 0;
      }
    }
  }
}